<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>SpringEL 표현식</h1>

<ul>1. Object일 경우
  <li>${user.username} = <span th:text="${user.username}"></span></li>
  <li>${user['username']} = <span th:text="${user['username']}"></span></li>
  <li>${user.getUsername()} = <span th:text="${user.getUsername()}"></span></li>
</ul>

<ul>2. List인 경우
    <li>${user_list[0].username} = <span th:text="${user_list[0].username}"></span></li>
    <li>${user_list[0]['username']} = <span th:text="${user_list[0]['username']}"></span></li>
    <li>${user_list[0].getUsername()} = <span th:text="${user_list[0].getUsername()}"></span></li>
</ul>

<ul>3. Map인 경우
    <li>${user_map['userA'].username} = <span th:text="${user_map['userA'].username}"></span></li>
    <li>${user_map['userA']['username']} = <span th:text="${user_map['userA']['username']}"></span></li>
    <li>${user_map['userA'].getUsername()} = <span th:text="${user_map['userA'].getUsername()}"></span></li>
</ul>

<h1>지역 변수 사용 - (th:with)</h1>
<div th:with="firstUser=${user_list[0]}">
    <p>List의 처음 사람의 이름은 <span th:text="${firstUser.username}"></span></p>
</div>
</body>
</html>